@tailwind base;
@tailwind components;
@tailwind utilities;

body {

    background: linear-gradient(rgba(47, 232, 66, 0.01), rgba(223, 23, 23, 0.01)), url("/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
  
    overflow: hidden; 
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #555;
}
::-webkit-scrollbar-thumb{
    background: #121212;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background:#242424;
}
